name: iOS
on:
  pull_request:

env:
  GRADLE_OPTS: -Dorg.gradle.daemon=false

defaults:
  run:
    working-directory: ios

jobs:
  build:
    name: Build
    runs-on: macos-latest
    steps:
      - uses: actions/checkout@v6
      - uses: maxim-lobanov/setup-xcode@v1
        with:
          xcode-version: latest-stable
      - uses: actions/setup-java@v5
        with:
          distribution: 'temurin'
          java-version: '17'
      - uses: gradle/actions/setup-gradle@v5
      - run: brew install xcodegen
      - run: ./gradlew generateXcodeProject
      - run: >
          xcodebuild
          -project SensorTag.xcodeproj
          -scheme Sample
          -sdk iphoneos
          -destination 'generic/platform=iOS'
          build
          CODE_SIGNING_ALLOWED='NO'
